<div class="skipLink">
  <a [href]="skipLinkPath" title="Skip to Main Content" aria-label="Skip to Main Content">
    Skip to Main Content
  </a>
</div>
<nav
  class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between"
>
  <a class="navbar-brand" routerLink="/" title="spaceship_survivor" aria-label="spaceship_survivor" role="heading" aria-level="1">
    spaceship_survivor
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" routerLink="/" title="landing_page" aria-label="landing_page">
      landing_page 
    </a>
    <a class="nav-item nav-link active" routerLink="/spaceship-survivor" title="spaceship_survivor" aria-label="spaceship_survivor">
      spaceship_survivor
    </a>
    <a class="nav-item nav-link active" routerLink="/dice-calculator" title="dice_calculator" aria-label="dice_calculator">
      dice_calculator
    </a>
  </div>
</nav>
